<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/template-web.js"></script>
		<script src="../../../js/job/jobon.js"></script>
		<script src="../../../js/openwindow.js"></script>
		<style>
			#headers {
				background-color: black;
			}
			
			#headers h1 {
				color: white;
			}
			
			.workstyles {
				text-indent: 2em;
				padding-top: 20px;
			}
		</style>
	</head>

	<body>

		<script type="text/javascript">
			mui.init()
		</script>
		<header class="mui-bar mui-bar-nav" id="headers">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" id="topart"></a>
			<h1 class="mui-title">选择岗位类型</h1>
		</header>
		<div class="mui-content">
			<div class="workstyles">
				<p>请在以下岗位中选择</p>
			</div>
			<div id="workTypeAll">
				<script id="workAll" type="text/html">
					<ul class="mui-table-view mui-grid-view mui-grid-9">
						{{if ms.status==true}}
						{{each workType wt }}
						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" id="{{wt.worktype}}" name="{{wt.id}}">
							<a href="#">
								<div class="mui-media-body">{{wt.worktype}}</div>
							</a>
						</li>
						{{/each}}
						{{/if}}
						{{if ms.status==false}}
						<li>
							<div>当前没有工作类型</div>
						</li>
						{{/if}}
					</ul>
				</script>
			</div>
		</div>
	</body>
	<script>
		mui.plusReady(function() {
			mui.ajax({
				url: 'http://172.19.129.6:86/unitAllType/getAllWorkType',
				type: 'post',
				async   : false,
				dataType: 'json',
				success: function(data) {
					var html = template('workAll',data);
					document.getElementById('workTypeAll').innerHTML = html;
				},
				error: function(xhr, type, errorThrown) {
					mui.alert("异常处理");
					console.log(type);
				}
			})
			toPage("#workTypeAll", '../newParttime.html');
			toBefore('../newParttime.html');
		})
		
	</script>

</html>