<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../../css/mui.min.css" rel="stylesheet" />
		<script src="../../../../js/mui.min.js"></script>
		<script src="../../../../js/template-web.js"></script>
		<style>
			#headers {
				background-color: black;
			}
			
			#headers h1 {
				color: white;
			}
			.main_content ul li img{
				width:50px;height:50px;border-radius: 50%;
			}
			.main_content span {
				display: block;
			}
			
			.main_content span:first-child {
				font-size: 16px;
				overflow: hidden;
			}
			
			.main_content span:last-child,
			.main_content_v {
				font-size: 14px;
				color: #929292;
			}
			.endState span{
				font-size: 16px;color: #007AFF;
			}
			.countAll{
				margin: 10px 0px 20px 20px;
			}
			.countAll span{
				color: #6D6D72;
			}
			.countAll #counts{
				color: #007AFF;
			}
			.countAllo{
				display: inline-block;padding-top: 5px;
			}
			.countAll button{
				width: 90px;
			}
		</style>
	</head>

	<body>
		<script type="text/javascript">
			mui.init()
		</script>
		<header class="mui-bar mui-bar-nav" id="topart">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="backs"></a>
			<h1 class="mui-title">报名信息</h1>
		</header>
		<div class="mui-content">
			<div class="countAll">
				<div class="countAllo">
					<span>您已选择</span>
					<span id="counts">0</span>
					<span>人,进行该工作岗位！</span>
				</div>
				<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined" id="updateSignstate">确认</button>
			</div>
			<div class="allPerson" id="signUser">
				<script id="thisign" type="text/html">
					<ul class="mui-table-view">
						{{if ms.status==true}}
						{{each signup si}}
						<li class="mui-table-view-cell mui-media" id="{{si.id}}" name="{{si.truename}}">
							<img class="mui-media-object mui-pull-left" src="../../{{si.avatar}}" alt="图片">
							<div class=" mui-media-body main_content">
								<span>姓名：{{si.truename}}</span>
								<span class="main_content_v">电话：{{si.phoneno}}</span>
								<span class="mui-ellipsis">性别：{{si.sex}}</span>
							</div>
							<div class="mui-badge mui-badge-inverted endState">
								<span>确认报名</span>
							</div>
						</li>
						{{/each}}
						{{/if}}
						{{if ms.status==false}}
						 <div class="mui-table-view-cell mui-media">
							<img class="mui-media-object mui-pull-left" src="../../../../image/9.jpg" alt="图片">
							<div class=" mui-media-body">
								<span>当前无人报名，请您耐心等待！</span>
							</div>
						</div>
						{{/if}}
					</ul>
				</script>
			</div>
		</div>
		<script>
			var personCount = 0;
			var persons  = 0;
			var pkPlurid = "";
			var list = new Array();
			mui.plusReady(function() {
				mui("#counts")[0].innerText = 0;	
				window.addEventListener('toSign', function(ef) {
					var signstate = ef.detail.signstate;
					pkPlurid      = ef.detail.pkPlurid;
					persons       = ef.detail.persons;
					mui.ajax({
						url: 'http://172.19.129.6:86/sign/getSignupAll',
						type: 'post',
						timeout     :10000,
						async   : false,
						data: {
							pkPlurid: pkPlurid,
							signstate: signstate
						},
						dataType: 'json',
						success: function(data) {
							var html = template('thisign', data);
							document.getElementById('signUser').innerHTML = html;
						},
						error: function(xhr, type, errorThrown) {
							mui.alert("请求超时...")
						}
					})
				})
			})
			mui("#signUser").on('tap','li',function(){
				var pkUid = this.getAttribute('id');
				var truename = this.getAttribute('name');
				var btnArray = ['取消', '确定'];
				var thisclass = this;
				if(personCount<=(persons-1)){
					mui.confirm('是否确认，由'+truename+'接取该工作？', '岗位接取', btnArray, function(e) {
						list.push(pkUid);
					if(e.index == 1) {
						thisclass.style.display = "none";
						personCount++;
						mui("#counts")[0].innerText = personCount;
					} else {
						mui("#counts")[0].innerText = personCount;
					}
				})
				}else{
					mui.alert("您的需求人员已经满员");
				}
			})
			document.getElementById('updateSignstate').addEventListener('tap',function(){
				var btnArray = ['取消', '确定'];
				if(0==personCount){
					mui.alert("您没有选择工作人员");
				}else if(personCount>0&&personCount<persons){
					mui.confirm('工作人员尚未满员，是否进行该工作？', '岗位接取', btnArray, function(e) {
						if(e.index == 1) {
							mui.ajax({
								url  : 'http://172.19.129.6:86/sign/updateSigns',
								type : 'post',
								data : {pkPlurid:pkPlurid,list:list},
								timeout : 5000,
								dataType: 'json',
								success : function(data){
									if(data.mss.status==true){
										mui.alert("提交成功")
									}else{
										mui.alert("提交失败")
									}
									mui.openWindow({
										url : '../../goParttime.html',
										id  : '../../goParttime.html'
									})
								},
								error   : function(timeout,xhr,type,errorThrown){
									mui.alert("请求超时...")
								}
							})
						} 
					  })
				}else{
					mui.confirm('工作人员满员，是否进行该工作？', '岗位接取', btnArray, function(e) {
						if(e.index == 1) {
							mui.ajax({
								url  : 'http://172.19.129.6:86/sign/updateSigns',
								type : 'post',
								data : {pkPlurid:pkPlurid,"list":list},
								timeout : 5000,
								dataType: 'json',
								success : function(data){
									if(data.mss.status==true){
										mui.alert("提交成功")
									}else{
										mui.alert("提交失败")
									}
									mui.openWindow({
										url : '../../goParttime.html',
										id  : '../../goParttime.html'
									})
								},
								error   : function(timeout,xhr,type,errorThrown){
									mui.alert("请求超时...")
								}
							})
						} 
					  })
				  }
			})
		</script>
	</body>

</html>