#headers a:first-child {
	margin: 8px -5px;
}

#headers {
	background-color: black;
	height: 60px;
}

#headers #backs {
	font-size: 18px;
	color: white;
	margin-top: 8px;
	text-align: center;
}

#headers form {
	margin-top: 8px;
	display: inline-block;
	margin-left: 10px;
	width: 70%;
	height: 65%;
}

.mui-content {
	margin-top: 30px;
}

.job_one {
	margin: 0 20px;
}

.job_two .job_two-one {
	display: inline-block;
	margin-left: 20px;
}

.job_two .job_two-one span {
	display: block;
}

.job_two .job_two-one span img {
	width: 50px;
	height: 50px;
}

.job_three {
	width: 100%;
	margin: 30px auto;
	border: 1px solid #CCCCCC;
	color: #929292;
}

#top .top .menu ul li:after {}

.triangle {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px solid transparent;
	border-top-color: #929292;
	border-bottom-width: 0;
}

.job_three span {
	margin-left: 3px;
}

.job_content .job_content_one ul li .content_a .mui-media-body span {
	display: block;
}

.content_money {
	color: red;
}

.main_content span {
	display: block;
}

.main_content span:first-child {
	font-size: 20px;
	overflow: hidden;
}

.main_content span:last-child,
.main_content_v {
	font-size: 14px;
	color: #929292;
}

.mui-table-view-cell .mui-badge {
	font-size: 16px;
	color: red;
}